.side-bar{
  background-color: #393a44;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/* keeps sidebar min-height from overtaking layout */
@media (max-width: 576px) {
  .side-bar {
    min-height: auto;
  }
}

footer{
    position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #333;
      color: white;
      text-align: center;
}
