.content{
  min-height: 100vh;
}

.side-bar{
  background-color: #393a44;
  display: flex;
  justify-content: center;
  /* height: 100vh; */
}

footer{
    position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #333;
      color: white;
      text-align: center;
}
