body {
    background-image: url('./images/background-cocktails.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: .9;
}

h1{
    padding-bottom: 40px;
}